<form #changePassword="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form" style="margin: 60px;border-radius: 15px;">
    <p-messages></p-messages>
    <div class="p-grid" >

        <div class="p-col-12 p-md-12">
            <div class="card">
                <h5>Change Password</h5>
                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-12">
                        <div class="p-field p-col-12 p-md-6">
                        <label>Current Password<span class="required-asterisk"
                            style="color: red;">*</span></label>
                        <input formControlName="password"
                            id="password" name="password"  pInputText type="text">
                            <div *ngIf="(form.get('password').invalid&&form.get('password').touched)||validateAllForm"
                                    class="p-error">
                                <div *ngIf="form.get('password').errors?.required"
                                    class="p-error" >
                                    Current Password is required
                                </div>
                                <div *ngIf="form.get('password').errors?.minlength||form.get('password').errors?.maxlength"
                                    class="p-error">
                                    Current Password must be 6 -> 10 letters
                                </div>
                                
                            </div>
                            </div>
                    </div>            

                    <div class="p-field p-col-12 p-md-12">
                        <div class="p-field p-col-12 p-md-6">
                        <label>New Password<span class="required-asterisk"
                            style="color: red;">*</span></label>
                        <input  formControlName="newPassword"
                            id="newPassword" name="newPassword"  pInputText type="text">
                            <div *ngIf="(form.get('newPassword').invalid&&form.get('newPassword').touched)||validateAllForm"
                                    class="p-error">
                                <div *ngIf="form.get('newPassword').errors?.required"
                                    class="p-error" >
                                   New Password is required
                                </div>
                                <div *ngIf="form.get('newPassword').errors?.minlength||form.get('newPassword').errors?.maxlength"
                                    class="p-error">
                                    New Password must be 6 -> 10 letters
                                </div>
                                
                            </div>
                            </div>
                    </div>    

					<div class="p-field p-col-12 p-md-12">
                        <div class="p-field p-col-12 p-md-6">
                        <label>Confirm Password<span class="required-asterisk"
                            style="color: red;">*</span></label>
                        <input appConfirmEqualValidator='newPassword' formControlName="confirmPassword"
                            id="confirmPassword" name="confirmPassword"  pInputText type="text">
                            <div *ngIf="(form.get('confirmPassword').invalid&&form.get('confirmPassword').touched)||validateAllForm"
                                    class="p-error">
                                <div *ngIf="form.get('confirmPassword').errors?.required"
                                    class="p-error" >
                                    Confirm Password is required
                                </div>
                                <div *ngIf="form.get('confirmPassword').errors?.notEqual && !form.get('confirmPassword').errors?.required"
                                    class="ui-message ui-messages-error ui-corner-all" translate>
                                    Password and Confirm Password doesn't match
                                </div>
                                <div *ngIf="form.get('confirmPassword').errors?.minlength||form.get('confirmPassword').errors?.maxlength"
                                    class="p-error">
                                    Confirm Password must be 6 -> 10 letters
                                </div>
                                
                            </div>
                            </div>
                    </div>    
                    <div class="ui-g form-group"  style="margin-left: auto;width: 20%;">
						<div class=" ui-g-12 ui-md-6">
							<div class=" ui-g-12 ui-md-6">
                                <p-confirmDialog [baseZIndex]="10000" [style]="{width: '50vw'}"
                                rejectButtonStyleClass="p-button-text" acceptLabel="Yes"  rejectLabel="No"></p-confirmDialog>
								<button  class="p-button-rounded p-button-success" icon="pi pi-check" label="Save" pButton pRipple
									style="margin-top: 20px;" type="submit"></button>
							</div>
							<div class="ui-g-12 ui-md-6">
								<button  class="p-button-rounded p-button-cancel" icon="pi pi-times"
									label="Cancel" pButton pRipple (click)="cancel()" style="margin-top: 20px; background-color: #FBC02D;"
									type="button"></button>
							</div>
						</div>
					</div>
                  
                  
                </div>
            </div>
        </div>
    </div>
</form>