<div class="login-body">
    <div class="login-card">
        <div class="top-border"></div>
        <div class="login-content">
            <h1>Forget Password</h1>
            <p>Welcome, please write your username and email for verification</p>
            <div class="ui-g-12" *ngIf="errormsg">
                <p-message severity="error" text={{errorText}}></p-message>
            </div>
            <form #forgetPassword="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">

                        <div class="username-container">
                            <label>Username</label>
                            <div class="login-input">
                                <input type="text" autocomplete="off" placeholder="Enter your username" 
                                [(ngModel)]="user.username" formControlName="username" id="username" pInputText>
                                <div *ngIf="(form.get('username').invalid&&form.get('username').touched)||validateAllForm"
                                                    class="p-error">
                                                <div *ngIf="form.get('username').errors?.required"
                                                    class="p-error" >
                                                    Please Enter your username
                                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="Email-container">
                            <label>Email</label>
                            <div class="login-input">
                                <input type="text" autocomplete="off"  placeholder="Enter your email" 
                                [(ngModel)]="user.email" formControlName="email" id="email" pInputText>
                                <div *ngIf="(form.get('email').invalid&&form.get('email').touched)||validateAllForm"
                                                    class="p-error">
                                                <div *ngIf="form.get('email').errors?.required"
                                                    class="p-error" >
                                                    Please Enter your Email
                                                </div>
                                                <div *ngIf="form.get('email').errors?.pattern"
                                                    class="p-error" >
                                                    Please enter vaild Email
                                                </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 70px;">
                            <button pButton type="submit" class="p-button-rounded p-button-info" 
                                label="Verify" style="width: 100%; margin-top: 20px;" [disabled]="isSaveBtnDisabled"></button>
                        </div>  
                        
            </form>
            
         
        </div>
    </div>
</div>
